# SUPABASE SECRETS

# Push them to the remote supabase instance using :
# supabase secrets set --env-file .env

#SUPABASE_URL and SUPABASE_SERVICE_ROLE_KEY are automatically provided by remote supabase instance

SPOTIFY_CLIENT_ID="insert_your_spotify_id_here"
SPOTIFY_CLIENT_SECRET="insert_your_spotify_client_secret_here"

#For supabase functions testing using Deno tests
SUPABASE_URL="insert_cloud_supabase_url_key_here"
SUPABASE_PUBLISHABLE_KEY="insert_cloud_supabase_publishable_key_here"
