#dev supabase secrets

#SUPABASE_URL and SUPABASE_SERVICE_ROLE_KEY are automatically provided by remote supabase instance

SPOTIFY_CLIENT_ID="insert_your_spotify_id_here"
SPOTIFY_CLIENT_SECRET="insert_your_spotify_client_secret_here"
SPOTIFY_REDIRECT_URI="insert_your_ngrok_or_https_tunnel_url_here" # spotify requires https even in dev
