#REACT NATIVE SECRETS

EXPO_PUBLIC_SUPABASE_URL="insert_your_public_remote_supabase_url_here"
EXPO_PUBLIC_SUPABASE_ANON_KEY="insert_your_public_remote_supabase_anon_key_here"
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID="insert_google_web_oauth_client_id"
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID="insert_google_ios_oauth_client_id"
