#REACT NATIVE SECRETS

EXPO_PUBLIC_SUPABASE_URL="insert_your_development_supabase_cli_url"
EXPO_PUBLIC_SUPABASE_ANON_KEY="insert_your_development_supabase_cli_anon_key_here"
EXPO_PUBLIC_WS_SERVER_URL="insert_your_development_ws_server_url_here" #example: wss://your-development-ws-server-url/functions/v1/websocket
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY="Care to keep your google api key secret"
EXPO_PUBLIC_REVENUECAT_API_KEY="insert_your_revenuecat_public_api_key"